$main-color: coral;
$primary: #b67929;
$secondary: #a3acb1;
$thirdary: #3c5b74;
$fourthary: #264b77;
$bg-color: #00243f;
$font-color: whitesmoke;

.code {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    font-size: 18px;
  }
